html, body {
    height: 100%;
    margin: 0;
}

input::-webkit-input-placeholder {
    color:    white;
    opacity:  1;
}

input:-moz-placeholder {
    color:    white;
    opacity:  1;
}

input::-moz-placeholder {
    color:    white;
    opacity:  1;
}

input.:-moz-placeholder {
    color:    white;
    opacity:  1;
}

.ws-chat-font {
    font-family: 'Courier New', monospace;
    font-size: 16pt;
}

.ws-chat {
    display: flex;
    flex-direction: column;
    position: absolute;
    min-height: 4em;
    min-width: 10em;
    max-height: 50%;
    width: 33%;
    left: 10px;
    bottom: 20px;
    overflow-x: hidden;
    color: #aaa;
    border-radius: 5px;
}

.ws-chat-history {
    flex: 1;
    word-wrap: break-word;
    height: calc(100% - 2em);
    overflow-y: auto;
    border-radius: 5px;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.ws-chat-input {
    flex: 1;
    max-height: 1.5em;
    min-height: 1.5em;
    border: 0;
    border-radius: 5px;
    outline: none;
    overflow-x: hidden;
    font-family: inherit;
    font-size: inherit;
    color: white;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background: none;
}

.ws-chat-message {
    min-height: 0;
}

.ws-chat-timestamp {
    color: #aaa;
    margin-right: 0.5em;
}

.ws-chat-name {
    color: #87d7f7;
}

.ws-chat-mention-hover {
    position: absolute;
    background: rgb(40,40,40);
    color: white;
    border-radius: 5px;
    min-height: 1.5em;
    min-width: 5em;
    padding: 5px;
    cursor: pointer;
}

.ws-chat-mention-hover-name {
    color: orange;
}

.ws-chat-mention {
    color: orange;
    cursor: pointer;
}
