html {
    padding-left: 6em;
    padding-right: 6em;
}

body {
    font-family: "Open Sans", sans;
    font-size: 1.2em;
    color: #555;
}

#crumb {
    opacity: 0.5;
}

h1 {
    margin-top: 5px;
    padding-bottom: 10px;
    border-bottom: 2px solid #eee;
}

pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f7f7f7;
    border-radius: 3px;
}

code {
    font-family: monospace;
    white-space: pre;
}

a { color: #4078c0; }

a:link, a:visited, a:active { text-decoration: none; }

a:hover { text-decoration: underline; }