--language_in=ECMASCRIPT6
--language_out=ECMASCRIPT6
--js dist/build.js
--js_output_file dist/compiled.html
--output_wrapper "<!doctype html>
<html><head><link rel=""icon"" href=""data:;base64,iVBORw0KGgo=""><title>A hobby project</title></head><body><script>
%output%
</script></body></html>"